# sbt
# (may want to keep parts of 'project')
bin/
project/*
!project/plugins.sbt
target/
build/

# IntelliJ project files
.idea
*.iml
out
gen### Scala template
*.class
*.log

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main
